@import "../../utils/mixin.scss";

.nex-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calculate(440px);
    min-height: calculate(454px);
    border: calculate(1px) solid transparent;
    border-radius: calculate(34.5px);
    position: relative;
    overflow: hidden;

    &.border {
        border-color: rgba(0, 0, 0, 0.05);
    }

    &:hover {
        .background-blob {
            -webkit-transform: scale(7);
            -ms-transform: scale(7);
            transform: scale(7);
        }

        .nex-card-inner-wrapper .nex-card-image:before {
            transform: scale(1.2);
        }
    }

    &:not(.has-image) {
        justify-content: flex-end;
        min-height: calculate(220px);
    }

    &:hover:not(.has-image) {
        .nex-card-inner-wrapper {
            color: #fff;
        }
    }

    @include mobile {
        width: 100%;
    }
    
    .nex-card-inner-wrapper {
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: calculate(420px);
        padding: calculate(14.5px);
        color: var(--nex-font-color);
        transition: color .5s cubic-bezier(.215,.61,.355,1);

        .nex-card-image {
            position: relative;
            width: 100%;
            height: calculate(274px);
            border-radius: calculate(20px);
            overflow: hidden;

            &:before {
                z-index: -1;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: var(--background-url);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: calculate(20px);
                transition: transform 1s cubic-bezier(.215,.61,.355,1);
            }
        }

        .nex-card-title {
            margin-top: calculate(50px);
            font-size: calculate(23px);
            font-weight: 800;

            @include mobile {
                font-size: calculate(50px);
            }
        }

        .nex-card-text {
            font-size: calculate(16px);
            margin: calculate(8px) 0;

            @include mobile {
                font-size: calculate(22px);
            }
        }
        
        .nex-card-actions {
            display: flex;
            flex-wrap: wrap;
            gap: calculate(20px);
            margin-top: calculate(10px);
            width: calculate(420px);
        }
    }

    .background-blob {
        height: calculate(160px);
        width: calculate(160px);
        background-color: var(--nex-primary-color);
      
        z-index: 1;
        position: absolute;
        top: calculate(-100px);
        right: calculate(-100px);
      
        border-radius: 50%;
      
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    &--primary {
        .background-blob {
            background-color: var(--nex-primary-color);
        }
    }

    &--secondary {
        .background-blob {
            background-color: var(--nex-secondary-color);
        }
    }

    &--tertiary {
        .background-blob {
            background-color: var(--nex-tertiary-color);
        }
    }

    &--quaternary {
        .background-blob {
            background-color: var(--nex-quaternary-color);
        }
    }

    &--success {
        .background-blob {
            background-color: var(--nex-success);
        }
    }

    &--info {
        .background-blob {
            background-color: var(--nex-info);
        }
    }

    &--warning {
        .background-blob {
            background-color: var(--nex-warning);
        }
    }

    &--danger {
        .background-blob {
            background-color: var(--nex-danger);
        }
    }
}
  
  