@import "../../utils/mixin.scss";

.nex-copy-to-clipboard {
    padding: calculate(12px);
    border: none;
    border-radius: calculate(8px);
    background-color: var(--nex-font-color);
    color: #fff;
    cursor: pointer;
    transition: opacity .2s cubic-bezier(.215,.61,.355,1);
    cursor: pointer;
    
    .fa-copy {
        font-size: calculate(18px);
        font-weight: 500;
        line-height: calculate(20.7px);
    }
    
    &:hover {
        opacity: 0.8;
    }

    &--small {
        .fa-copy { 
            font-size: calculate(16px);
        }
    }

    &--large {
        padding: calculate(21px);
        border-radius: calculate(20px);
        
        .fa-copy { 
            font-size: calculate(34px);
        }
    }
  
    &--primary {
        background-color: var(--nex-primary-color);
        color: var(--nex-primary-contrast-color);
    }

    &--secondary {
        background-color: var(--nex-secondary-color);
        color: var(--nex-secondary-contrast-color);
    }

    &--tertiary {
        background-color: var(--nex-tertiary-color);
        color: var(--nex-tertiary-contrast-color);
    }

    &--quaternary {
        background-color: var(--nex-quaternary-color);
        color: var(--nex-quaternary-contrast-color);
    }

    &--success {
        background-color: var(--nex-success);
        color: #fff;
    }

    &--info {
        background-color: var(--nex-info);
        color: #fff;
    }

    &--warning {
        background-color: var(--nex-warning);
        color: #fff;
    }

    &--danger {
        background-color: var(--nex-danger);
        color: #fff;
    }
}