@import "../../utils/mixin.scss";

.nex-button {
    min-height: calculate(40px);
    padding: calculate(14px) calculate(30px);
    border: none;
    border-radius: calculate(20px);
    background-color: #F0F0F0;
    font-size: calculate(18px);
    line-height: calculate(20.7px);
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: darken(#F0F0F0, 10%)
    }

    &--small {
        font-size: calculate(16px);
        line-height: calculate(18.4px);
        font-weight: 700;
    }

    &--large {
        font-size: calculate(32px);
        line-height: 36.8px;
    }

    &--primary {
        background-color: var(--nex-primary-color);
        color: var(--nex-primary-contrast-color);

        &:hover {
            background-color: rgba(var(--nex-primary-color-rgb), 0.85);
        }
    }

    &--secondary {
        background-color: var(--nex-secondary-color);
        color: var(--nex-secondary-contrast-color);

        &:hover {
            background-color: rgba(var(--nex-secondary-color-rgb), 0.85);
        }
    }

    &--tertiary {
        background-color: var(--nex-tertiary-color);
        color: var(--nex-tertiary-contrast-color);

        &:hover {
            background-color: rgba(var(--nex-tertiary-color-rgb), 0.85);
        }
    }

    &--quaternary {
        background-color: var(--nex-quaternary-color);
        color: var(--nex-quaternary-contrast-color);

        &:hover {
            background-color: rgba(var(--nex-quaternary-color-rgb), 0.85);
        }
    }

    &--success {
        background-color: var(--nex-success);
        color: #fff;

        &:hover {
            background-color: rgba(var(--nex-success-rgb), 0.85);
        }
    }

    &--info {
        background-color: var(--nex-info);
        color: #fff;

        &:hover {
            background-color: rgba(var(--nex-info-rgb), 0.85);
        }
    }

    &--warning {
        background-color: var(--nex-warning);
        color: #fff;

        &:hover {
            background-color: rgba(var(--nex-warning-rgb), 0.85);
        }
    }

    &--danger {
        background-color: var(--nex-danger);
        color: #fff;

        &:hover {
            background-color: rgba(var(--nex-danger-rgb), 0.85);
        }
    }

    &.inverted {
        border: calculate(3px) solid transparent;
        background-color: transparent;

        &.nex-button--primary {
            border-color: var(--nex-primary-color);
            color: var(--nex-primary-color);

            &:hover {
                background-color: var(--nex-primary-color);
                color: var(--nex-primary-contrast-color);
            }
        }

        &.nex-button--secondary {
            border-color: var(--nex-secondary-color);
            color: var(--nex-secondary-color);

            &:hover {
                background-color: var(--nex-secondary-color);
                color: var(--nex-secondary-contrast-color);
            }
        }

        &.nex-button--tertiary {
            border-color: var(--nex-tertiary-color);
            color: var(--nex-tertiary-color);

            &:hover {
                background-color: var(--nex-tertiary-color);
                color: var(--nex-tertiary-contrast-color);
            }
        }

        &.nex-button--quaternary {
            border-color: var(--nex-quaternary-color);
            color: var(--nex-quaternary-color);

            &:hover {
                background-color: var(--nex-quaternary-color);
                color: var(--nex-quaternary-contrast-color);
            }
        }

        &.nex-button--success {
            border-color: var(--nex-success);
            color: var(--nex-success);

            &:hover {
                background-color: var(--nex-success);
                color: #fff;
            }
        }

        &.nex-button--info {
            border-color: var(--nex-info);
            color: var(--nex-info);

            &:hover {
                background-color: var(--nex-info);
                color: #fff;
            }
        }

        &.nex-button--warning {
            border-color: var(--nex-warning);
            color: var(--nex-warning);

            &:hover {
                background-color: var(--nex-warning);
                color: #fff;
            }
        }

        &.nex-button--danger {
            border-color: var(--nex-danger);
            color: var(--nex-danger);

            &:hover {
                background-color: var(--nex-danger);
                color: #fff;
            }
        }
    }

    &.inverted-default {
        border: none;
        background-color: var(--nex-font-color);
        color: #fff;

        &:hover {
            background-color: rgba(var(--nex-font-color-rgb), 0.85);
        }
    }
}