@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Arial", sans-serif;
  
  /* Primary colors */
  --nex-primary-color: #3D4DE1;
  --nex-primary-color-rgb: 61, 77, 225;
  --nex-primary-opacity: 1;
  --nex-primary-contrast-color: #f3f3f3;

  /* Secondary colors */
  --nex-secondary-color: #ef910a;
  --nex-secondary-color-rgb: 239, 145, 10;
  --nex-secondary-opacity: 1;
  --nex-secondary-contrast-color: #f3f3f3;

  /* Tertiary colors */
  --nex-tertiary-color: #88ffca;
  --nex-tertiary-color-rgb: 136, 255, 202;
  --nex-tertiary-opacity: 1;
  --nex-tertiary-contrast-color: #f3f3f3;

  /* Quaternary colors */
  --nex-quaternary-color: #4addef;
  --nex-quaternary-color-rgb: 74, 221, 239;
  --nex-quaternary-opacity: 1;
  --nex-quaternary-contrast-color: #f3f3f3;

  /* Font color */
  --nex-font-color: #17181D;
  --nex-font-color-rgb: 23, 24, 29;
  --nex-font-opacity: 1;

  /* Background color */
  --nex-background-color: #f3f3f3;
  --nex-background-color-rgb: 243, 243, 243;
  --nex-background-opacity: 1;

  /* Complimentary color */
  --nex-complimentary-color: #bababa;
  --nex-complimentary-color-rgb: 186, 186, 186;
  --nex-complimentary-opacity: 1;

  /* Bootstrap */
  --nex-success: #5cb85c;
  --nex-success-rgb: 92, 184, 92;
  --nex-success-opacity: 1;
  
  --nex-info: #5bc0de;
  --nex-info-rgb: 91, 192, 222;
  --nex-info-opacity: 1;
  
  --nex-warning: #f0ad4e;
  --nex-warning-rgb: 240, 173, 78;
  --nex-warning-opacity: 1;
  
  --nex-danger: #d9534f;
  --nex-danger-rgb: 217, 83, 79;
  --nex-danger-opacity: 1;
}