
@import "../../utils/mixin.scss";

.nex-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calculate(50px);
    min-height: calculate(60px);
    max-width: calc(100vw - calculate(100px));
    padding: calculate(10px) calculate(20px);
    background: var(--nex-info);
    font-size: calculate(16px);
    color: var(--nex-info);
    box-shadow: 0 calculate(4px) calculate(8px) rgba(0, 0, 0, 0.1);
    border-radius: calculate(8px);
    border: calculate(1px) solid color-mix(in srgb,var(--nex-info),#fff 80%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 999;
  
    &.visible {
      opacity: 1;
    }

    .nex-alert__message {
        flex-grow: 1;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-word;
    }

    &.nex-alert--error {
        background: color-mix(in srgb,var(--nex-danger),#fff 80%);
        border-color: var(--nex-danger);
        color: var(--nex-danger);

        .nex-alert__dismiss-button {
            color: var(--nex-danger);
        }
    }
    
    &.nex-alert--success {
        background: color-mix(in srgb,var(--nex-success),#fff 80%);
        border-color: var(--nex-success);
        color: var(--nex-success);

        .nex-alert__dismiss-button {
            color: var(--nex-success);
        }
    }
    
    &.nex-alert--info {
        background: color-mix(in srgb,var(--nex-info),#fff 80%);
        border-color: var(--nex-info);
        color: var(--nex-info);

        .nex-alert__dismiss-button {
            color: var(--nex-info);
        }
    }
    
    &.nex-alert--warning {
        background: color-mix(in srgb,var(--nex-warning),#fff 80%);
        border-color: var(--nex-warning);
        color: var(--nex-warning);

        .nex-alert__dismiss-button {
            color: var(--nex-warning);
        }
    }

    .nex-alert__dismiss-button {
        background:none;
        border:none;
        margin:0;
        padding:0;
        cursor: pointer;
    }
}

.nex-alerts-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: calculate(20px);
    padding-top: calculate(30px);
    overflow-y: scroll;
    z-index: 999;
}