.nex-loader {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 51.5%;
    left: 48%;
    width: 50px;
    height: 50px;

    .path {
        fill: none;
        stroke: rgba($color: #7d7d7d, $alpha: 1.0);
        stroke-width: 6;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}